*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

/*
Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

.site-index {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-about {
  background-color: #F2F1E8;
  width: 100%;
}

nav {
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-self: center;
  list-style: none;
}

.nav-icon {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
}

.nav-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-self: center;
  list-style: none;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #2B2F26;
  padding: 0px 20px;
  margin: 10px 10px;
}

.nav-item:hover {
  color: #CD5D67;
}

.nav-item:active {
  color: #968772;
}

.company {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 400;
}

.community {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 400;
  padding: 20px 0px;
}

.room {
  display: inline-flex;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 400;
  color: white;
  margin: auto;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-weight: 100;
  padding: 10px 0px;
  margin-top: 5px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 21px;
  font-weight: 100;
  padding: 10px 0px;
  margin-top: 5px;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 0px;
}

.site-intro {
  text-align: center;
  margin-top: 80px;
  height: 590px;
  width: 100%;
}

.our-studio {
  text-align: center;
  margin-top: 60px;
  height: 1500px;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 10px;
}

div {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.txt_box_image {
  font-family: 'Merriweather', serif;
  font-size: 14;
  font-weight: lighter;
  height: 28px;
  color: #F2F1E8;
  background-color: #2B2F26;
  padding: 5px 10px;
}

.txt-box-long {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

blockquote {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-style: italic;
  border-left: 2px solid black;
  padding: 5px 55px;
}

#i01 {
    display: flex;
    background-image: url("./images/product-1.jpg");
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    width: 59%;
    height: 300px;
    margin: 5px;
}

#i02 {
  display:flex;
    background-image: url("./images/product-2.jpg");
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    width: 19%;
    height: auto;
    margin: 5px;
}

#i03 {
    background-image: url("./images/product-3.jpg");
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    width: 19%;
    height: auto;
    margin: 5px;
}

#i04 {
    background-image: url("./images/product-4.jpg");
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    width: 19%;
    height: 150px;
    margin: 5px;
}

#i05 {
    background-image: url("./images/product-5.jpg");
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    width: 19%;
    height: auto;
    margin: 5px;
}

#i06 {
    background-image: url("./images/product-6.jpg");
    background-clip: border-box;
    background-position: top;
    background-size: cover;
    width: 39%;
    height: auto;
    margin: 5px;
}

#i07 {
    background-image: url("./images/product-7.jpg");
    background-clip: border-box;
    background-position: left;
    background-size: cover;
    width: 19%;
    height: auto;
    margin: 5px;
}

#i08 {
  background-image: url("./images/birdhouse.jpg");
  background-clip: border-box;
  background-position: center;
  background-size: cover;
  float: left;
  width: 15%;
  height: 80px;
  margin: 0px 25px 0px 0px;
}

#i09 {
  background-image: url("./images/background-3.jpg");
  background-clip: border-box;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  padding: 0px 50px 0px 0px;
}

#i10 {
  background-image: url("./images/background-1.jpg");
  background-clip: border-box;
  background-position: center;
  background-size: cover;
  float: right;
  width: 15%;
  height: 80px;
  padding: 0px 0px 25px 0px;
}

footer {
  background-color: #2B2F26;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 14;
  font-weight: lighter;
  color: #F2F1E8;
  height: 115px;
  padding: 40px 20px;
}
